body{
    background: #ffe8e1;
    margin-bottom: auto;
}

.icon {
    width: 150px;
    border-radius: 50%;
    border: 1px solid;
}

#title, .subtitle, .post_title{
    color: blueviolet;
}

.header {
    width: 150px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}
.post {
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    
}